/* 
@media screen and (max-width: 600px) {

  .d{
     text-align: center;
      color:black;
      padding: 6%;
  }

  .nav-bg-color-text{
    background-color:#ff9933;
    font-size: 20px;
  }
  
  .tours{
    background-color: chocolate;
    margin: 5%;
    height: 80px;
    color: white;
    text-align: center;
  }
  .t-border{
    border: 1px solid black;
    margin: 10px;
  }
 
  .active{
     
    color:white;
    
  }

  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li{
    display: grid;
    color: #000;
    padding: 32px 32px;
    
    font: bold;
  }

  .header-name{
    margin-left: 50%;
    margin-top: 1%;
  }
  
  .header{
    background-color:white;
    width: 100%;
    height: 10%;
  }

  .box-size{
    box-sizing: none;
  }
  
 
}
 */
